{% extends 'base.html' %}
{% set active_page = 'infos' %}

{% block content %}
<div class="row">
  <div class="my-4">
    <h1 class="pt-4">Ausbildungsprogramm</h1>
    <br>
    <ol class="my-4">
      <li class="my-2"><h4>Stunts</h4></li>
      <li class="my-2"><h4>Seepolizei</h4></li>
      <li class="my-2"><h4>Skorpions</h4></li>
      <li class="my-2"><h4>Piloten</h4></li>
      <li class="my-2"><h4>Spionage</h4></li>
      <li class="my-2"><h4>Schiesskeller</h4></li>
    </ol>
  </div>
</div>
{% endblock %}
