{% extends 'base.html' %}
{% set active_page = 'infos' %}

{% block content %}
<div class="row">
  <div class="my-4">
    <h1 class="pt-4">Ausbildungsprogramm</h1>
    <ol class="list-group list-group-flush">
      <li class="list-group-item">Stunts</li>
      <li class="list-group-item">Seepolizei</li>
      <li class="list-group-item">Skorpions</li>
      <li class="list-group-item">Piloten</li>
      <li class="list-group-item">Spionage</li>
      <li class="list-group-item">Schiesskeller</li>
    </ol>
  </div>
</div>
{% endblock %}
