{% extends 'base.html' %}
{% set active_page = 'infos' %}

{% block content %}
<div class="row">
  <div class="text-center my-4">
    <h1 class="mb-3">Programm APV Aktivitas Tag, 16. September 2023</h2>
    <h3>Besammlung: 9:00, Bäckerei Buchmann Binz, Uetlibergstrasse 65, 8045 Zürich</h3>
    <h3>Schluss: ca. 21:00, Region Triemli</h3>
    <h3 class="mt-1">Mitnehmen:</h3>
    <ul>
      <li>Pfadi-Uniform</li>
      <li>Wanderschuhe</li>
      <li>Badehosen</li>
      <li>Tüechli</li>
      <li>Sonnenbrille</li>
    </ul>
    <h3 class="mt-1">Freiwillig:</h3>
    <ul>
      <li>Tschugger Serie Staffel 1 und 2 als Vorbereitung schauen</li>
      <li>Tschugger Accessoire mitnehmen</li>
      <li>Rap-Text "Panda Express" lernen</li>
    </ul>
  </div>
</div>
{% endblock %}
