{% extends 'base.html' %}
{% set active_page = 'infos' %}

{% block content %}
<div class="row">
  <div class="text-center my-4">
    <h1 class="mt-2">APV Aktivitas Tag, 16. September 2023</h2>
    <h3 class="mt-4">Besammlung:</h3>
    <p>9:00 <a href="https://goo.gl/maps/FiStPG9rfwwcCz4S7" target="_blank">Bäckerei Buchmann Binz</a></p>
    <h3 class="mt-4">Schluss:</h3>
    <p>ca. 21:00, Region Triemli</p>
    <h3 class="mt-4">Mitnehmen:</h3>
    <p>Pfadi-Uniform</p>
    <p>Wanderschuhe</p>
    <p>Badehosen</p>
    <p>Tüechli</p>
    <p>Sonnenbrille</p>
    <h3 class="mt-2">Freiwillig:</h3>
    <p>Tschugger Serie Staffel 1 und 2 als Vorbereitung schauen</p>
    <p>Tschugger Accessoire mitnehmen</p>
    <p>Rap-Text "Panda Express" lernen</p>
  </div>
</div>
{% endblock %}
