{% extends 'base.html' %}
{% set active_page = 'members' %}

{% block content %}
<div class="row">
  <div class="col-md-12 text-center my-2">
    <h1>{% block title %}Tschugger Profil {% if change == true %}bearbeiten{% endif %}{% endblock %}</h1>
  </div>
  <div class="col-sm-12 my-2">
    <div class="card border shadow p-3">
      <div class="card-body">
		<form class="row g-3" method="post">
			{{ form.csrf_token }}
			<dl class="mb-n2">
				<dt class="small">
					{{ form.firstname.label(class_="form-label fw-bold") }}
				</dt>
				<dd>
					{% if change == true %}
						{{ form.firstname(class_="form-control") }}
					{% else %}
						{{ form.firstname(class_="form-control", readonly=true) }}
					{% endif %}
				</dd>
				{% if form.firstname.errors %}
					<ul class="errors">
					{% for error in form.firstname.errors %}
						<li class="text-danger my-1">{{ error }}</li>
					{% endfor %}
					</ul>
				{% endif %}

				<dt class="small">
					{{ form.lastname.label(class_="form-label fw-bold") }}
				</dt>
				<dd>
					{% if change == true %}
						{{ form.lastname(class_="form-control") }}
					{% else %}
						{{ form.lastname(class_="form-control", readonly=true) }}
					{% endif %}
				</dd>
				{% if form.lastname.errors %}
					<ul class="errors">
					{% for error in form.lastname.errors %}
						<li class="text-danger my-1">{{ error }}</li>
					{% endfor %}
					</ul>
				{% endif %}

				<dt class="small">
					{{ form.scoutname.label(class_="form-label fw-bold") }}
				</dt>
				<dd>
					{% if change == true %}
						{{ form.scoutname(class_="form-control") }}
					{% else %}
						{{ form.scoutname(class_="form-control", readonly=true) }}
					{% endif %}
				</dd>
				{% if form.scoutname.errors %}
					<ul class="errors">
					{% for error in form.scoutname.errors %}
						<li class="text-danger my-1">{{ error }}</li>
					{% endfor %}
					</ul>
				{% endif %}

				<dt class="small">
					{{ form.email.label(class_="form-label fw-bold") }}
				</dt>
				<dd>
					{% if change == true %}
						{{ form.email(class_="form-control") }}
					{% else %}
						{{ form.email(class_="form-control", readonly=true) }}
					{% endif %}
				</dd>
				{% if form.email.errors %}
					<ul class="errors">
					{% for error in form.email.errors %}
						<li class="text-danger my-1">{{ error }}</li>
					{% endfor %}
					</ul>
				{% endif %}

				<dt class="small">
					{{ form.phone.label(class_="form-label fw-bold") }}
				</dt>
				<dd>
					{% if change == true %}
						{{ form.phone(class_="form-control") }}
					{% else %}
						{{ form.phone(class_="form-control", readonly=true) }}
					{% endif %}
				</dd>
				{% if form.phone.errors %}
					<ul class="errors">
					{% for error in form.phone.errors %}
						<li class="text-danger my-1">{{ error }}</li>
					{% endfor %}
					</ul>
				{% endif %}

				<dt class="small">
					{{ form.notes.label(class_="form-label fw-bold") }}
				</dt>
				<dd>
					{% if change == true %}
						{{ form.notes(class_="form-control") }}
					{% else %}
						{{ form.notes(class_="form-control", readonly=true) }}
					{% endif %}
				</dd>
			</dl>
            
        </div>
		{% if change == true %}
		<div class="col my-2">
			<input class="btn btn-primary" type="submit" value="Speichern">
		</div>
		{% endif %}
    </div>
</form>
{% endblock %}
