{% extends 'base.html' %}
{% set active_page = 'members' %}

{% block content %}
<h1 class="my-3">{% block title %}{{ title }}{% endblock %}</h1>
<div class="container mx-auto mt-4">
  <div class="row">
  {% for member in members %}
    <div class="col-md-4">
      <div class="card" style="width: 18rem;">
        <a href="{{member.id}}">
          <img src="/static/images/{{member.img}}" class="card-img-top" alt="">
        </a>
        <div class="card-body">
          <h5 class="card-title">{{member.username}}</h5>
          <h6 class="card-subtitle mb-2 text-muted">{{member.firstname}} {{member.lastname}} / {{member.scoutname}}</h6>
          <p class="card-text">{{member.notes}}</p>
          <a href="{{member.id}}" class="btn"><i class="fa fa-user"></i> Profil</a>
        </div>
      </div>
    </div>
  {% endfor %}
  </div>
</div>
{% endblock %}