{% extends 'base.html' %}
{% set active_page = 'admin' %}

{% block content %}
  <h1 class="my-3">{% block title %}Register{% endblock %}</h1>
  <form method="post">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
    <label class="form-label mt-1" for="username">Username</label>
    <input class="form-control" name="username" id="username" required>
    <label class="form-label mt-1" for="password">Password</label>
    <input class="form-control" type="password" name="password" id="password" required>
    <label class="form-label mt-1" for="email">Email</label>
    <input class="form-control" type="email" name="email" id="email" required>
    <input class="btn btn-primary my-2" type="submit" value="Register">
  </form>
{% endblock %}
