{% extends 'base.html' %}
{% set active_page = 'members' %}

{% block content %}
<h1 class="my-3">{% block title %}{{ member.firstname }} {{ member.lastname }}{% endblock %}</h1>

<form id="edit_member_{{ member.id }}" accept-charset="UTF-8" method="post">
	<input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
	<div class="row">
		<div class="col-md-6">
			<div class="card border shadow p-3">
				<h5 class="card-header">Portrait</h5>
				<div class="card-body">
					<dl class="mb-n2">
						<dt class="small">
							<label class="form-label" for="member_title">Titel</label>
						</dt>
						<dd>
							<input class="form-control form-control-sm" type="text" value="{{ member.title if member.title is not none }}" name="title" id="member_title" />
						</dd>
						<dt class="small">
							<label class="form-label" for="member_firstname">First Name</label>
						</dt>
						<dd>
							<input class="form-control form-control-sm" type="text" value="{{ member.firstname if member.firstname is not none }}" name="firstname" id="member_firstname" />
						</dd>
						<dt class="small">
							<label class="form-label" for="member_lastname">Last Name</label>
						</dt>
						<dd>
							<input class="form-control form-control-sm" type="text" value="{{ member.lastname if member.lastname is not none }}" name="lastname" id="member_lastname" />
						</dd>
						<dt class="small">
							<label class="form-label" for="member_email1">Email</label>
						</dt>
						<dd>
							<input class="form-control form-control-sm" type="email" value="{{ member.email1 if member.email1 is not none }}" name="email1" id="member_email1" />
						</dd>
						<dt class="small">
							<label class="form-label" for="member_email2">Additional Email</label>
						</dt>
						<dd>
							<input class="form-control form-control-sm" type="email" value="{{ member.email2 if member.email2 is not none }}" name="email2" id="member_email2" />
						</dd>
						<dt class="small">
							<label class="form-label" for="member_phone">Phone</label>
						</dt>
						<dd>
							<input value="{{ member.phone if member.phone is not none }}" type="text" class="form-control form-control-sm" name="phone" id="member_phone" />
						</dd>
						<dt class="small">
							<label class="form-label" for="member_category">Membership Category</label>
						</dt>
						<dd>
							<select id="member_category" class="form-control form-select" name="category">
								<option value="{{ member.category }}" selected>{{ member.category }}</option>
							  	{% for cat in categories %}
								<option value="{{ cat }}">{{ cat }}</option>
							  	{% endfor %}
							</select>
						</dd>
						<dt class="small">
							<label class="form-label" for="member_medium">Desired Contact Medium</label>
						</dt>
						<dd>
							<select id="member_medium" class="form-control form-select" name="medium">
								<option value="{{ member.medium }}" selected>{{ member.medium }}</option>
							  {% for med in media %}
								<option value="{{ med }}">{{ med }}</option>
							  {% endfor %}
							</select>
						</dd>
						<dt class="small">
							<label class="form-label" for="member_active">Active Member?</label>
						</dt>
						<dd>
						  {% if member.active == true %}
							<input value="{{ member.active }}" type="checkbox" class="form-check-input" name="active" id="member_active" checked/>
						  {% else %}
							<input value="{{ member.active }}" type="checkbox" class="form-check-input" name="active" id="member_active"/>
						  {% endif %}
						</dd>
					</dl>
				</div>
            </div>
        </div>

        <div class="col-md-6">
			<div class="card border shadow p-3">
				<h5 class="card-header">Address</h5>
				<div class="card-body">
					<dl class="mb-n2">
						<dt class="small">
							<label class="form-label" for="member_addr1">Address Line 1</label>
						</dt>
						<dd>
							<input class="form-control form-control-sm" type="text" value="{{ member.addr1 if member.addr1 is not none }}" name="addr1" id="member_addr1" />
						</dd>
						<dt class="small">
							<label class="form-label" for="member_addr2">Address Line 2</label>
						</dt>
						<dd>
							<input class="form-control form-control-sm" type="text" value="{{ member.addr2 if member.addr2 is not none }}" name="addr2" id="member_addr2" />
						</dd>
						<dt class="small">
							<label class="form-label" for="member_addr3">Address Line 3</label>
						</dt>
						<dd>
							<input class="form-control form-control-sm" type="text" value="{{ member.addr3 if member.addr3 is not none }}" name="addr3" id="member_addr3" />
						</dd>
						<dt class="small">
							<label class="form-label" for="member_zip">Zip Code</label>
						</dt>
						<dd>
							<input class="form-control form-control-sm" type="text" value="{{ member.zipcode if member.zipcode is not none }}" name="zipcode" id="member_zip" />
						</dd>
						<dt class="small">
							<label class="form-label" for="member_city">City</label>
						</dt>
						<dd>
							<input class="form-control form-control-sm" type="text" value="{{ member.city if member.city is not none }}" name="city" id="member_city" />
						</dd>
						<dt class="small">
							<label class="form-label" for="member_country">Country</label>
						</dt>
						<dd>
							<select id="member_country" class="form-control form-select" name="country">
								<option value="{{ member.country }}" selected>{{ member.country }}</option>
								{% for cnt in countries %}
								<option value="{{ cnt }}">{{ cnt }}</option>
							    {% endfor %}
							</select>
						</dd>
						<dt class="small">
							<label class="form-label" for="member_notes">Notes / Comments</label>
						</dt>
						<dd>
							<input class="form-control form-control-sm" type="text" value="{{ member.notes if member.notes is not none }}" name="notes" id="member_notes" />
						</dd>
						<dt class="small">
							<label class="form-label" for="member_joined">Joined IAFPA</label>
						</dt>
						<dd>
							<input class="form-control form-control-sm" type="date" value="{{ member.joined }}" name="joined" id="member_joined" />
						</dd>
						</dd>
					</dl>
				</div>
            </div>
        </div>
		<div class="col my-2">
			<input class="btn btn-primary" type="submit" value="Save">
		</div>
    </div>
</form>

<div class="row my-4">
	<div class="col">
		<div class="card border shadow p-3">
			<h5 class="card-header">Payments</h5>
			<div class="card-body">
				<table class="table table-bordered dt-responsive" id="feeTable">
					<thead class="thead-light">
					<tr>
						<th>Membership Year</th>
						<th>Pay Date</th>
						<th>Amount</th>
						<th>Comment</th>
						<th>Edit</th>
						<th>Delete</th>
					</tr>
					<thead>
					<tbody>
					{% for fee in fees %}
					<tr>
						<td>{{ fee.year }}</td>
						<td>{{ fee.paydate.strftime('%Y-%m-%d') }}</td>
						<td>{{ fee.amount }}</td>
						<td>{{ fee.comment }}</td>
						<td><a href="{{ url_for('payments.edit_payment', feeid=fee.id) }}">
								<i class="fa fa-pencil text-primary"></i></a></td>
						<td><a href="{{ url_for('payments.delete_payment', feeid=fee.id) }}" onclick="return confirm('Are you sure?');">
							<i class="fa fa-trash text-danger"></i></a></td>
					</tr>
					{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
		<div class="col my-2">
			<form method="get" action="{{ url_for('payments.add_payment') }}">
				<input type="hidden" value="{{ member.firstname }}" name="firstname">
				<input type="hidden" value="{{ member.lastname }}" name="lastname">
				<input type="hidden" value="{{ member.email1 }}" name="email">
				<input class="btn btn-success" type="submit" value="Add Payment">
			</form>
		</div>

	</div>
</div>
{% endblock %}

{% block scripts%}
{{ super() }}
<script nonce="{{ csp_nonce() }}" type="text/javascript" src="{{ url_for('static', filename='js/tables.js') }}"></script>
<script nonce="{{ csp_nonce() }}" type="text/javascript">
// autocomplete for known sets
$('#member_medium').autocomplete({
    source: JSON.parse('{{media | tojson | safe}}'),
    minLength: 1,
    delay: 10,
});
$('#member_category').autocomplete({
    source: JSON.parse('{{categories | tojson | safe}}'),
    minLength: 1,
    delay: 10,
});
</script>
{% endblock %}
