{% extends 'base.html' %}
{% set active_page = 'members' %}

{% block content %}
<h1 class="my-3">{% block title %}Profil erstellen{% endblock %}</h1>

<form id="add_member" accept-charset="UTF-8" method="post">
	<input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
	<input type="hidden" name="id" value="{{ id }}">
	<div class="row">
		<div class="col-md-6">
			<div class="card border shadow p-3">
				<dl class="mb-n2">
                    <dt class="small">
						<label class="form-label" for="member_firstname">First Name</label>
					</dt>
					<dd>
						<input class="form-control form-control-sm" type="text" name="firstname" id="member_firstname" />
					</dd>
                    <dt class="small">
						<label class="form-label" for="member_lastname">Last Name</label>
					</dt>
					<dd>
						<input class="form-control form-control-sm" type="text" name="lastname" id="member_lastname" />
					</dd>
        			<dt class="small">
						<label class="form-label" for="member_email1">Email</label>
					</dt>
					<dd>
						<input class="form-control form-control-sm" type="email" name="email1" id="member_email1" />
					</dd>
					<dt class="small">
						<label class="form-label" for="member_email2">Additional Email</label>
					</dt>
					<dd>
						<input class="form-control form-control-sm" type="email" name="email2" id="member_email2" />
					</dd>
                    <dt class="small">
						<label class="form-label" for="member_phone">Phone</label>
					</dt>
					<dd>
						<input type="text" class="form-control form-control-sm" name="phone" id="member_phone" />
					</dd>
					<dt class="small">
						<label class="form-label" for="member_category">Membership Category</label>
					</dt>
					<dd>
						<select id="member_category" class="form-control form-select" name="category">
						  	{% for cat in categories %}
							<option value="{{ cat }}">{{ cat }}</option>
							{% endfor %}
						</select>
					</dd>
					<dt class="small">
						<label class="form-label" for="member_active">Active Member?</label>
					</dt>
					<dd>
						<input type="checkbox" class="form-check-input" name="active" id="member_active" checked/>
					</dd>
                </dl>
            </div>
        </div>
		<div class="col my-2">
			<input class="btn btn-primary" type="submit" value="Speichern">
		</div>
    </div>
</form>
{% endblock %}
